<h1>Vehicle listing</h1>



<a [routerLink]="['/car']">Add Car</a> | <a [routerLink]="['/bike']">Add Bike</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Engine</th>
            <th>Doors</th>
            <th>Wheels</th>
            <th>Category</th>
            <th>Body</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of _vehicles">
            <td>{{vehicle.make}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.engine}}</td>
            <td>{{vehicle.doors}}</td>
            <td>{{vehicle.wheels}}</td>
            <td>{{vehicle.category}}</td>
            <td>{{vehicle.bodyType}}</td>
            <td *ngIf="(vehicle.category | lowercase) == 'car'"><a [routerLink]="['/car']" [queryParams]="{ id: vehicle.id}" >Edit</a></td>
            <td *ngIf="(vehicle.category | lowercase) == 'bike'"><a [routerLink]="['/bike']" [queryParams]="{ id: vehicle.id}">Edit</a></td>
        </tr>
    </tbody>
</table>
<p *ngIf="_loading"><em>Loading... please wait</em></p>
<p *ngIf="!withVehicles() && !_loading"><em>No vehicles currently available.</em></p>
